$container-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
$button-text: #FFFFFF;

.changePasswordContainer{
  --content-vidth: 37.5rem;
  --max-content-width: 62.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: $container-shadow;
  margin-inline: auto;
  padding-block: 1rem;
  width: var(--content-vidth);
  max-width: var(--max-content-width);

  &.narrow{
    --content-vidth: 25rem;
    --max-content-width: 43.75rem;
  }
  
  &.wide{
    --content-vidth: 25rem;
    --max-content-width: 43.75rem;
  }
}

.changePasswordForm{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  gap: 1rem;

  h5{
    text-align: center;
  }

  .formLabel{
    display: block;
    position: relative;
    font-size: 0.875rem;
    font-weight: 500;
  }

  button{
    color: $button-text;
    display: flex;
    justify-content: center;
    box-shadow: none !important;
    border: none !important;
    width: 100%;
    border-radius: 0.313rem;
  }
}

@media screen and (width <= 640px){
  .changePasswordContainer{
    &.narrow{
      --content-vidth: 30rem;
    }
    
    &.wide{
      --content-vidth: 20rem;
    }
  }
}

@media screen and (width > 640px){
  .changePasswordContainer{
    &.narrow{
      --content-vidth: 40rem;
    }
    
    &.wide{
      --content-width: 25rem;
    }
  }
}