.navbarSpace{
  min-height: 4rem;
  padding: 1rem !important;
}

.userName{
  display: flex;
  padding: 0 1rem 1rem;
}

.profileImage{
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

:global(.dropdown-toggle)::after{
  display: none !important;
}

@media screen and (width <= 640px){
  .profileImage{
    width: 3rem;
    height: 3rem;
  }
}