.userProductsContainer{
  display: grid;
  row-gap: 1rem;
  margin-top: 1.5rem;
  justify-items: center;
}

.card-title{
  display: flex;
  gap: 0.8rem !important;
  border-color: black !important;
  border-width: 1rem !important;
}

:global(.badge){
  display: flex !important;
  color: black !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  padding-inline: 0.6rem !important;
  text-align: center !important;
  border-color: black !important;
  border-width: 0.1rem !important;
  border-radius: 0.5rem !important;
}

.priceBadge{
  display: flex;
  font-size: 0.9rem;
  font-weight: 700;
  border-color: black;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  padding-block: 0.2rem;
  padding-inline: 0.3rem;
}

@media (width >= 48rem){
  .userProductsContainer{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width >= 80rem){
  .userProductsContainer{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}