@import "tailwindcss";

:root{
  --light-color: whitesmoke;
  --dark-color: #212529;
}

.formsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  max-width: 33.75rem !important;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
}

.formsContainer h2{
  color: #000000;
  text-align: center;
  font-size: 2rem;
  margin-top: 0.5rem;
}

@media(prefers-color-scheme: dark){
  :root{
    background-color: var(--dark-color) !important;
    color: var(--light-color) !important;
  }
}

@media screen and (width <= 64rem){
  .drawer-side{
    display: none;
  }
}