$button-text: #FFFFFF;

.resetPasswordForm{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem !important;

  .formLabel{
    display: block;
    position: relative;
    font-size: 0.875rem;
    font-weight: 500;
  }

  button{
    color: $button-text;
    display: flex;
    justify-content: center;
    box-shadow: none !important;
    border: none !important;
    width: 100%;
    border-radius: 0.313rem;
    margin-bottom: 1rem;
  }
}

@media screen and (width <= 40rem){
  .resetPasswordForm{
    margin: 0 auto;
    width: 100%;
    max-width: 28rem;
  }
}

@media screen and (width > 40rem){
  .resetPasswordForm{
    margin: 0 auto;
    width: 100%;
    max-width: 28rem;
  }
}