.searchedWrapper{
  display: flex;
  gap: 1.5rem;
  width: 100%;
  align-items: flex-start;

  .resultsColumn{
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .searchedContent{
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    flex: 1;
    justify-content: center;
    place-items: center
  }
}

@media(width <= 48rem){
  .searchedContent{
    grid-template-columns: repeat(auto-fit, minmax(0, 15rem))
  }
}

@media(width >= 48rem){
  .searchedContent{
    grid-template-columns: repeat(auto-fit, minmax(0, 15rem));
  }
}

@media(width >= 64rem){
  .searchedContent{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media(width >= 80rem){
  .searchedContent{
    grid-template-columns: repeat(4, minmax(0, 30rem));
  }
}