.searchedWrapper{
  display: flex;
  position: relative;
  width: 100%;
  align-items: flex-start;

  .resultsColumn{
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .searchedContent{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 15rem));
    row-gap: 1rem;
    column-gap: 1rem;
    flex: 1;
    justify-content: center;
    place-items: center;
  }
}